<div id="menu_container">
	<div id="menu">
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Repositories', repositories_path %></li>
			<li><%= link_to 'Grades', grades_path %></li>
			<li><%= link_to 'Project Types', project_types_path %></li>
		</ul>
	</div>
</div>