<h2>Repositories</h2>

<table>
<% for repo in @repos %>
	<tr>
		<td><%= repo %></td>
		<td><%= button_to "Grade", {:controller => :home, :action => "grade", :reponame => repo }%></td>
	</tr>
<% end %>
</table>

