/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body
{
	background-color: #333;
}

#container {
  width: 800px;
  min-height: 400px;
  margin: 0 auto 20px auto;
  background-color: #FFFFFF;
  padding: 10px 40px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 7px 7px 8px #222;
  -webkit-box-shadow: 7px 7px 8px #222;
  -moz-box-shadow: 7px 7px 8px #222;
  filter: progid:DXImageTransform.Microsoft.dropShadow(color=#222, offX=7, offY=7, positive=true);
}

#header
{
	text-align: center;
}

pre
{
	padding: 20px;
	background-color: black;
	color: #28FF00;
	overflow: auto; 
}

/*Menu code*/

#menu 
{
	/*
	-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
    text-align: center;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	color: white;
	background-color: #333;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}


#menu li {
	float: left;
}

#menu a {
	display: block;
	color: white;
	width: 120px;
	height: 25px;
	padding-top: 5px;
	border-right: 1px solid #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	/*-moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;*/
	color: white;
	background-color: black;
	text-decoration: none;
}

/* -----  Tables  ---- 
	Inspired/modified: http://www.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
*/

table.minimal {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  margin: 14px 0px;
  vertical-align: middle;
}

table.minimal th {
  color: #1E2324;
  font-size: 1.2em;
  padding: 10px 8px;
  border-bottom: 2px solid #1A1F1F;
  text-align: left;
}

table.minimal td {
  padding: 6px 8px;
  border-bottom: 1px solid #A19F9A;
}

table.minimal img {
  display: inline-block;
  vertical-align: middle;
}

table.minimal tr:hover td{
	color: #004;
	background-color: #DBE1E8;
}